.TodoCounter {
  font-size: 24px;
  text-align: center;
}

.TodoTittle {
  font-size: 72px;
  text-align: center;
  background: -webkit-linear-gradient(#b5ec8c, #94e9e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.TodoCounter--loading {
  opacity: 25%;
}
